.blog-container {
    display: grid;
    grid-template-columns: 3.7fr 1.3fr;
    width: 90%;
    margin: 0 auto;

}

.blog-card-container {
    /* border: 1px solid red; */

}

.blog-side-container {
    /* border: 1px solid black; */

}